.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.body {

  font-family: 'Lato', sans-serif;
}

.logo {
  width: 33%;
}

.logo-image {
  width: 20%;
}

.nav-center-items {
  width: 33%;
  display: flex;
  justify-content: center;
}

.nav-right-items {
  width: 34%;
  display: flex;
  justify-content: right;
  justify-content: flex-end;
}

.nav-center-item {
  color: black
}

.cta-container {
  margin-top: 6em;
  display: flex;
}

.cta-container-procuremnt {
  width: 50%;
}

.cta-right {
  width: 50%;

  font-family: 'Varela Round', sans-serif;
}

.image-right {
  width: 100%;

}

.nav {
  margin-left: 1em;
  margin-right: 1em;
}

.partner {
  filter: contrast(0.5);
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  width: 7%;
}

.partners-text {
  color: #a5b9d0;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.millions-heading {
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: 700;
}

.millions-subheading {
  padding-top: 0.4em;
  line-height: 1.6em;
  font-size: 1.7em;
}

.group-item-container {
  margin-left: 2.2em;
  margin-right: 2.2em;
}

.millions-more-heading {
  padding: 16px 32px;
  /* background-color: #eaf2fd; */
  font-size: 20px;
  /* line-height: 30px; */
  font-weight: 600;
}

.millions-more-heading {
  width: 31%;
  margin: auto;
  background-color: #eaf2fd;
  color: #2f80ed;
  margin-top: 3%;
  border-radius: 10px;
}

.footer-items {
  width: 25%;
  text-align: inherit;
}

.footer-logo {
  width: 50%;
}

.footer-items-heading {
  margin-bottom: 2.1em;
}

.footer-socials-icon {
  width: 7%;
}

.how-it-works-heading {
  text-align: center;
  color: #2f80ed;
}

.step-one-container {
  width: 50%;
}

.step-one-heading {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2f80ed;
  font-size: 14px;
}

.post-heading {
  line-height: 1.5em;
  letter-spacing: 0px;
  font-weight: 600;
}

.step-one-need {
  color: rgb(105, 132, 163);
  font-size: 23px;
  line-height: 36px;
  margin-top: 1.6em;
}
.step-one-request{
  width: 50%;
}

.step-one-request-image{
  width: 90%;
  margin-top: 7%;
  margin-left: 21%;
}